<md-dialog aria-label="File information">
    <form ng-cloak>
        
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ doc.name }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
    
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                    <div flex="50" layout-padding>
                        <dl>
                            <dt>Name</dt><dd>{{ doc.name }}</dd>
                            <dt>Created by</dt><dd>{{ doc.createdBy }}</dd>
                            <dt>Creation date</dt><dd>{{ doc.creationDate }}</dd>
                            <dt>Size</dt><dd>{{ doc.size }}</dd>
                            <dt>Object ID</dt><dd>{{ doc.objectId }}</dd>
                            <dt>Path</dt><dd>{{ doc.path }}</dd>
                        </dl>
                    </div>
                    <div flex="50" layout-padding>
                        <dl>
                            <dt>Type</dt><dd>{{ doc.type }}</dd>
                            <dt>Object type ID</dt><dd>{{ doc.objectTypeId }}</dd>
                            <dt>Content stream file name</dt><dd>{{ doc.contentStreamFileName }}</dd>
                            <dt>Content stream MIME type</dt><dd>{{ doc.contentStreamMimeType }}</dd>
                            <dt>Content stream length</dt><dd>{{ doc.contentStreamLength }}</dd>
                            <dt>Last modified by</dt><dd>{{ doc.lastModifiedBy }}</dd>
                            <dt>Last modification date</dt><dd>{{ doc.lastModificationDate }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        
    </form>
</md-dialog>