<md-dialog aria-label="File information">
    <form ng-cloak>
        
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ doc.name }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
    
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column" layout-gt-xs="row">
                    
                    <dl>
                        <ng-repeat ng-repeat="(key, value) in doc.allProperties" ng-if="value">
                            <dt>{{ key }}</dt>
                            <dd>{{ value }}</dd>
                        </ng-repeat>
                    </dl>
                    
                    <div>
                        <h2>Extension properties</h2>
                        <script type="text/ng-template" id="nodes_renderer.html">
                            <span>{{ data.name }}</span>
                            <ol>
                                <li ng-repeat="data in data.children"
                                    ng-include="'nodes_renderer.html'">
                                </li>
                            </ol>
                        </script>
                        <ol>
                            <li ng-repeat="data in doc.extensionProperties" ng-include="'nodes_renderer.html'">
                            </li>
                        </ol>
                    </div>
                    
                </div>
            </div>
        </md-dialog-content>
        
    </form>
</md-dialog>