.repview__title .md-subhead {
    margin: $u $u*0.5 0;
}

.od-filebrowser-breadcrumb {
    margin: 0;
    background-color: $background-color;
    font-size: $u*0.9;
    padding: 0 $u*0.5;
    border-bottom: solid 1px darken($background-color, 10%);
    display: flex;
    flex-flow: row wrap;
  
    a:after {
        content: '';
        display: inline-block;
        width: $u*2.5;
        height: $u*2.5;
        border: solid 1px transparent;
        border-color: darken($background-color, 10%) darken($background-color, 10%) transparent transparent;
        transform: rotate(45deg);
        margin-left: -($u*1.5);
    }
    a,
    a:link,
    a:visited {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: $u*0.5;
        cursor: pointer;
        color: $main-color;
        text-decoration: none; 
        max-height: $u*2; 
        overflow: hidden;
    }
    a:hover,
    a:active {
        color: darken($main-color, 20%);
    }
    a:last-child {
        cursor: default;
        color: #000;
        
        &:after {
            content: none;
        }
    }
}

.tlist {
    
    .tlist__header {
        border-bottom: solid 1px $background-color;
        
        .tlist__cell {
            text-align: left;
            padding: 0 8px;
            margin: 4px 0;
            box-sizing: border-box;
        }
    }
    
    .tlist__item {
        border-bottom: solid 1px $background-color;
    }
    
    .tlist__item__link {
        cursor: pointer;
        
        &:hover {
            background-color: rgba(0,0,0,0.1);
        }
    }
    
    .tlist__cell {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 8px;
    }
}

.file-info-diag {
    min-width: 90vh;
    
    md-tab-body {
        overflow: auto;
        word-break: break-all;
    }
    .extprops {
        list-style: none;
        margin: 0;
        padding: 0 0 $u*0.5 $u;
    }
    .extprops-name {
        padding: $u*0.5 0 0;
        display: block;
        text-transform: uppercase;
        font-size: 0.8em;
    }
    .extprops-name {
        
    }
}
